/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;

}

a.subpaginas {
	text-decoration: none;
}

/*

//////////////////////////////////////////////////////

                       TOPO
				
//////////////////////////////////////////////////////

*/
body {
	background: #F8F8F8;
}

header {
	margin: 2vw 4vw 0vw 4vw;
}

header nav ul {
	display: flex;
	justify-content: right;
}

header nav ul li {
	margin: 0px 10px 0px 10px;
}

header nav ul li.book a {
	color: black;
}

header nav ul li.cinza a {
	color: rgb(68, 68, 68);
}

header nav a {
	color: rgb(71, 71, 71);
}

header nav a strong {
	color: black;
}
main section.baner {
	margin: 82px ;
}

/*

//////////////////////////////////////////////////////

                       CONTEUDO
				
//////////////////////////////////////////////////////

*/
section.baner div h1 {
	font-weight: bold;
	font-size: 3vw;
}

section button.botao {
	background: black;
	color: white;
	padding: 20px 40px 20px 40px;
	margin: 2vw 0 2vw 1vw;
}


main section.baner div.link p {
	display: flex;
}
main section.baner div a {
	color: black;
	padding: 45px ;
}

main section.baner {
	display: flex;
}

main section.baner p {
	margin: 30px 10px 10px 10px;
	font-size: 20px;
}

main section.baner h1 span.lado {
	color: rgb(24, 197, 139);
}

main section.Point div h3{
	text-align:center;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 2vw 0 8vw 0;
}
main section.Point div ul li{
	display: flex;
	padding: 5vw 2vw 5vw 2vw 
}
main section.Point div ul li.direita{
	background: #F8F8F8;
	font-size: 20px;
}
main section.Point div ul li.direita p{
	padding: 5vw 2vw 5vw 2vw ;
}
main section.Point div ul li.esquerda{
	background: white;
}
main section.Point div ul li.esquerda p{
	padding:5vw 2vw 5vw 2vw ;
	font-size: 20px;
}
section h3 {
	text-align: center;
	font-size: 1.5rem;
	padding: 50px ;
	background: white;
	font-weight: bold;
}
section p span {
	font-weight: bold;
}
main section.tabela div {
	display: flex;
}
main section.tabela div ul li {
	padding: 2vw ;
}
main section.tabela div ul {
	margin: 5px 5px 5px 5px ;
	background: #F8F8F8;;
	font-size:20px ;
}
section.tabela img {
	background: white;
	padding: 5vw ;
}
section.tabela h3 {
	background: white;
	padding: 50px;
}
footer nav{
	display: flex;
	padding: 5vw 5vw 5vw 5vw;
}
footer nav a{
	padding: 0 5vw 0 0;
	color: #b1aaaa;
}



/*

//////////////////////////////////////////////////////
                
                      RODAPE  
				
//////////////////////////////////////////////////////

*/